body {
    margin: 0 auto;
    font-family: "Roboto Condensed";
}
.grid-box {
  display: grid;
  grid-template-columns: 605px repeat(2, 297px);
  grid-template-rows: 221px 146px 223px 241px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 100px auto;
  width: fit-content;
}
.grid-box div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { 
  grid-area: 2 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 288px;
}
.div3 { grid-area: 4 / 1 / 5 / 2; }
.div4 { grid-area: 1 / 2 / 4 / 3; }
.div5 { grid-area: 4 / 2 / 5 / 3; }
.div6 { grid-area: 1 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 3 / 5 / 4; }

.div2-button {
  display: inline-flex;
  padding: 0 93px 0 0;
  gap: 10px;
  width: 209px;
  height: 73px;
}

.div2-button svg {
  width: 73px;
  height: 73px;
}

.div2-button .button-text {
  color: #000;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.div2-button .text-more {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
}

.div2-button .text-info {
  font-size: 64px;
  font-weight: 700;
  line-height: 50px;
}
.more-info {
  text-decoration: none;
}
.left-panel {
  background-color: black;
  width: 1118px;
  height: 281px;
}
.left-panel img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* shared panel properties to avoid duplication */
main .left-panel,
main .right-panel {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-left: 72px;
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
}

.right-panel {
  text-align: left;
  width: 1162px;
  height: 263px;
  background-color: #B70101;
  margin-left: auto;
  margin-right: 0;
}
