body {
    margin: 0 auto;
}
.grid-box {
  display: grid;
  grid-template-columns: 605px repeat(2, 297px);
  grid-template-rows: 221px 146px 223px 241px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 100px auto;
  width: fit-content;
}
.grid-box div {
  background-color: #f1f1f1;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
}

.grid-box div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 2 / 1 / 4 / 2; }
.div3 { grid-area: 4 / 1 / 5 / 2; }
.div4 { grid-area: 1 / 2 / 4 / 3; }
.div5 { grid-area: 4 / 2 / 5 / 3; }
.div6 { grid-area: 1 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 3 / 5 / 4; }