body {
    margin: 0 auto;
    font-family: "Roboto Condensed";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.grid-box {
  display: grid;
  grid-template-columns: 605px repeat(2, 297px);
  grid-template-rows: 221px 146px 223px 241px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 100px auto;
  width: fit-content;
}
.grid-box div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { 
  grid-area: 2 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 288px;
}
.div3 { grid-area: 4 / 1 / 5 / 2; }
.div4 { grid-area: 1 / 2 / 4 / 3; }
.div5 { grid-area: 4 / 2 / 5 / 3; }
.div6 { grid-area: 1 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 3 / 5 / 4; }
.div2-button {
  display: inline-flex;
  padding: 0 93px 0 0;
  gap: 10px;
  width: 209px;
  height: 73px;
}
.div2-button svg {
  width: 73px;
  height: 73px;
}
.div2-button .button-text {
  color: #000;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.div2-button .text-more {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
}
.div2-button .text-info {
  font-size: 64px;
  font-weight: 700;
  line-height: 50px;
}
.more-info {
  text-decoration: none;
}
.left-panel {
  width: 1118px;
  height: 281px;
}
.right-panel {
  text-align: left;
  width: 1162px;
  background-color: #B70101;
  margin-left: auto;
  margin-right: 0;
}
main .left-panel,
main .right-panel {
  display: flex;
  align-items: center;
  height: 274px;
  margin-top: 40px;
  padding-left: 72px;
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  background-size: cover;
  background-position: center;
  text-decoration: none;
}
#first-panel {
  background-image: url('../images/background-image1.png');
}
#second-panel {
  background-image: url('../images/background-image2.png');
}
#last-panel {
  background-image: url('../images/background-image3.png');
}
main .left-panel a,
main .right-panel a {
  text-decoration: none;
  color: inherit;
}
nav { 
  position: sticky;
  top: 0;
  z-index: 1000; 
  padding: 0 40px; 
  background-color: #202020; 
  color: white;
  margin-bottom: 20px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  height: 114px;
}
nav h1 {
  font-size: 48px;
  color: white;
  margin: 0;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article {
  margin: 0 60px;
}
.flex-box {
  display: flex;
  margin: 60px auto;
  gap: 60px;
  width: fit-content;
}
.left-box h1 {
  color: #B70101;
  font-family: "Roboto Condensed";
  font-size: 95px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
  padding: 0 40px 0 90px;
}
.left-box p {
  color: #000;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 80px 0 137px;
}
.left-box {
  background: #F9F7F8;
  padding: 0 40px;
  width: 842px;
  height: 716px;
  background-image: url('../images/background-image-discover.png');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}
.right-box h1 {
  color: #B70101;
  font-family: "Roboto Condensed";
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 40px 65px 0 28px;
  margin: 0;
}
.text {
  color: #FFF;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 50px 63px 0 54px;
  margin: 0;
}
.brand-game {
  width: 338px;
  height: 84px;
  flex-shrink: 0;
  background: #FFF;
  margin: 81px 40px 81px;
}
.brand-game a {
  text-decoration: none;
  color: #000;
}
.brand-game p {
  color: #000;
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 34px 15px 29px;
}
.right-box {
  background: #A6BFD9;
  width: 418px;
  height: 716px;
  flex-shrink: 0;
}
.qr img {
  width: 219px;
  height: 219px;
  margin: 20px 0 21px;
}
.qr p {
  color: #000;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
  text-align: center;
}
.qr {
  text-align: center;
}
footer { 
  background-color: #202020;
  padding: 0 40px;
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.back-button {
  color: white;
}

.back-button svg {
  width: 48px;
  height: 48px;
}
.cphfw-footer {
  max-height: 40px;
}
#footer-logo {
  width: 38.223px;
  height: 14.422px;
  flex-shrink: 0;
  aspect-ratio: 38.22/14.42;
  padding: 133px 0 10px 86px;
}
.game {
  width: 1192px;
  height: 808px;
  margin: 68px auto 40px auto;
  background: #F9F7F8;
}
.game h1 {
  color: #B70101;
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 79px;
  margin-bottom: 0;
}
.game p {
  color: #000;
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 28px;
}
.game img {
  display: block;
  width: 624px;
  height: 162px;
  margin: 107px auto 168px auto;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.button-box {
  display: flex;
  width: 304px;
  height: 99px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #FFF;
  color: #000;
  font-family: "Roboto Condensed";
  font-size: 40px;
  font-weight: 700;
  transition: transform 0.2s, background-color 0.3s;
  user-select: none;
}
.button-box:hover {
  transform: scale(1.05);
}
.button-box:active {
  transform: scale(0.98);
}
.menu-btn {
  width: 34px;
  height: 34px;
}
.sidebar {
  position: fixed;
  top: 0;
  right: -100%; 
  width: 70%;
  max-width: 400px;
  height: 100%;
  background-color: #202020;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  color: white;
  transition: right 0.3s ease;
  padding: 60px 20px 40px 20px;
  z-index: 1000;
  overflow-y: auto;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sidebar li {
  margin: 20px 0;
}
.sidebar a,
.sidebar-link {
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid white;
  width: 100%;
}
.sidebar a.active,
.sidebar-link.active {
  color: #B70101;
  font-weight: bold;
}
.sidebar.active {
  right: 0;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.close-btn svg {
  width: 30px;
  height: 30px;
}
@media (max-width: 1200px) {
  .flex-box {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1400px) and (min-width: 769px) {
  article {
    margin: 0 40px;
  }
  .flex-box {
    gap: 40px;
    margin: 50px auto;
  }
  .left-box {
    width: 650px;
    height: 600px;
  }
  .left-box h1 {
    font-size: 70px;
    padding: 0 30px 0 60px;
    margin-bottom: 24px;
  }
  .left-box p {
    font-size: 20px;
    padding: 0 60px 0 100px;
  }
  .right-box {
    width: 350px;
    height: 600px;
  }
  .right-box h1 {
    font-size: 50px;
    padding: 30px 40px 0 20px;
  }
  .text {
    font-size: 20px;
    padding: 40px 40px 0 40px;
  }
  .brand-game {
    width: 280px;
    height: 75px;
    margin: 60px 35px;
  }
  .brand-game p {
    font-size: 22px;
    padding: 28px 12px;
  }
  .qr img {
    width: 190px;
    height: 190px;
  }
  #footer-logo {
    padding: 110px 0 10px 60px;
  }
  .game {
    width: 900px;
    height: auto;
    margin: 60px auto 40px auto;
  }
  .game h1 {
    font-size: 55px;
    padding-top: 60px;
  }
  .game img {
    width: 500px;
    height: auto;
    margin: 80px auto 120px auto;
  }
  .button-box {
    width: 260px;
    height: 85px;
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  article {
    margin: 0 20px;
  }
  .flex-box {
    flex-direction: column;
    margin: 40px auto;
    gap: 30px;
    width: 100%;
  }
  .left-box {
    width: 100%;
    height: auto;
    min-height: 500px;
    padding: 20px;
  }
  .left-box h1 {
    font-size: 48px;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
  }
  .left-box p {
    font-size: 18px;
    padding: 0 20px;
  }
  #footer-logo {
    padding: 80px 0 20px 20px;
  }
  .right-box {
    width: 100%;
    height: auto;
    min-height: 500px;
  }
  .right-box h1 {
    font-size: 40px;
    padding: 30px 20px 0 20px;
  }
  .text {
    font-size: 18px;
    padding: 30px 20px 0 20px;
  }
  .brand-game {
    width: calc(100% - 40px);
    margin: 40px 20px;
  }
  .brand-game p {
    font-size: 20px;
    padding: 30px 15px;
  }
  .qr img {
    width: 180px;
    height: 180px;
    margin: 15px 0;
  }
  .qr p {
    font-size: 18px;
    padding: 0 20px;
  }
  .game {
    width: calc(100% - 40px);
    height: auto;
    margin: 40px 20px;
    padding: 20px;
  }
  .game h1 {
    font-size: 40px;
    padding-top: 40px;
  }
  .game p {
    font-size: 18px;
    margin-top: 20px;
    padding: 0 10px;
  }
  .game img {
    width: 100%;
    height: auto;
    margin: 60px auto 80px auto;
  }
  .buttons {
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
  }
  .button-box {
    width: 100%;
    height: 80px;
    font-size: 28px;
  }
  footer {
    padding: 0 20px;
    height: 60px;
  }
  .back-button svg {
    width: 36px;
    height: 36px;
  }
  .cphfw-footer {
    max-height: 30px;
  }
}

header,
.header { 
  position: relative;
  z-index: 1000; 
  padding: 0 40px; 
  background-color: #202020;  
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  height: 114px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
} 

header h1,
.header h1 { 
  font-size: 48px; 
  color: white;
  margin: 0;
}
.main-text {
  display: flex;
  margin: 0 auto;
}
.main-text span {
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
.qr-text {
  text-align: center;
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; 
}