body {
    margin: 0 auto;
    font-family: "Roboto Condensed";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ========== GRID BOX ========== */
.grid-box {
  display: grid;
  grid-template-columns: 605px repeat(2, 297px);
  grid-template-rows: 221px 146px 223px 241px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 100px auto;
  width: fit-content;
}
.grid-box div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ========== GRID AREAS ========== */
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { 
  grid-area: 2 / 1 / 4 / 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 288px;
}
.div3 { grid-area: 4 / 1 / 5 / 2; }
.div4 { grid-area: 1 / 2 / 4 / 3; }
.div5 { grid-area: 4 / 2 / 5 / 3; }
.div6 { grid-area: 1 / 3 / 3 / 4; }
.div7 { grid-area: 3 / 3 / 5 / 4; }

/* ========== BUTTON ========== */
.div2-button {
  display: inline-flex;
  padding: 0 93px 0 0;
  gap: 10px;
  width: 209px;
  height: 73px;
}

.div2-button svg {
  width: 73px;
  height: 73px;
}

.div2-button .button-text {
  color: #000;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.div2-button .text-more {
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
}

.div2-button .text-info {
  font-size: 64px;
  font-weight: 700;
  line-height: 50px;
}

.more-info {
  text-decoration: none;
}

/* ========== PANELS ========== */
.left-panel {
  width: 1118px;
  height: 281px;
}

.right-panel {
  text-align: left;
  width: 1162px;
  background-color: #B70101;
  margin-left: auto;
  margin-right: 0;
}

/* ========== SHARED PANEL PROPERTIES ========== */
main .left-panel,
main .right-panel {
  display: flex;
  align-items: center;
  height: 274px;
  margin-top: 40px;
  padding-left: 72px;
  color: #FFF;
  font-size: 64px;
  font-weight: 700;
  background-size: cover;
  background-position: center;
  text-decoration: none;
}

/* ========== PANEL BACKGROUND IMAGES ========== */
#first-panel {
  background-image: url('../images/background-image1.png');
}
#second-panel {
  background-image: url('../images/background-image2.png');
}
#last-panel {
  background-image: url('../images/background-image3.png');
}

/* ========== LINKS INSIDE PANELS ========== */
main .left-panel a,
main .right-panel a {
  text-decoration: none;
  color: inherit;
}
/* ========== DISCOVER PAGE ========== */
nav { 
  position: sticky;
  top: 0;
  z-index: 1000; 
  padding: 0 40px; 
  background-color: #202020; 
  color: white;
  margin-bottom: 20px; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  height: 114px;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article {
  margin: 0 60px;
}
.flex-box {
  display: flex;
  margin: 60px auto;
  gap: 60px;
  width: fit-content;
}
.left-box h1 {
  color: #B70101;
  font-family: "Roboto Condensed";
  font-size: 95px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
  padding: 0 40px 0 90px;
}
.left-box p {
  color: #000;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0 80px 0 137px;
}
.left-box {
  background: #F9F7F8;
  padding: 0 40px;
  width: 842px;
  height: 716px;
  background-image: url('../images/background-image-discover.png');
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}
.right-box h1 {
  color: #B70101;
  font-family: "Roboto Condensed";
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 40px 65px 0 28px;
  margin: 0;
}
.text {
  color: #FFF;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 50px 63px 0 54px;
  margin: 0;
}
.brand-game {
  width: 338px;
  height: 84px;
  flex-shrink: 0;
  background: #FFF;
  margin: 81px 40px 81px;
}
.brand-game a {
  text-decoration: none;
  color: #000;
}
.brand-game p {
  color: #000;
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 34px 15px 29px;
}
.right-box {
  background: #A6BFD9;
  width: 418px;
  height: 716px;
  flex-shrink: 0;
}
.qr img {
  width: 219px;
  height: 219px;
  margin: 20px 0 21px;
}
.qr p {
  color: #000;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
  text-align: center;
}
.qr {
  text-align: center;
}
footer { 
  background-color: #202020;
  padding: 0 40px;
  height: 74px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  color: white;
}

.cphfw-footer {
  max-height: 40px;
}
#footer-logo {
  width: 38.223px;
  height: 14.422px;
  flex-shrink: 0;
  aspect-ratio: 38.22/14.42;
  padding: 133px 0 10px 86px;
}
.game {
  width: 1192px;
  height: 808px;
  margin: 68px auto 40px auto;
  background: #F9F7F8;
}
.game h1 {
  color: #B70101;
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 79px;
  margin-bottom: 0;
}
.game p {
  color: #000;
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 28px;
}
.game img {
  display: block;
  width: 624px;
  height: 162px;
  margin: 107px auto 168px auto;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.button-box {
  display: flex;
  width: 304px;
  height: 99px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: #FFF;
  color: #000;
  font-family: "Roboto Condensed";
  font-size: 50px;
  font-weight: 700;
}